<main class="main min-h-mfull">
    <section class="about">
        <div class="about__content w-11/12 mx-auto my-5 p-4 bg-red-900 bg-opacity-25 rounded-lg lg:w-8/12 lg:mx-6 lg:my-8">
            <header>
                <h2 class="font-bangers text-2xl lg:text-6xl">
                    Sobre Nosotros
                </h2>
            </header>
            <p class="w-11/12 text-justify lg:text-lg lg:w-9/12">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis magni soluta velit nam labore molestias, recusandae fugit officia doloremque veniam a possimus ut quibusdam incidunt, reprehenderit eveniet rem? Maiores, magnam.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus atque repudiandae eveniet optio minima sint iste amet corporis nisi! Sit deleniti temporibus officia id, autem ipsam animi debitis accusamus nemo.
            </p>
        </div>
    </section>
</main>
